body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@font-face {
	font-family: "Yew Basturd";
	src: url(Fonts/YEWBN___.ttf);
}

.auto-style1 {
	width: 100%;
}

.auto-style2 {
	text-align: center;
}

.auto-style3 {
	text-align: center;
	height: 33px;
}

.auto-style4 {
	height: 33px;
}

.auto-style5 {
	height: 39px;
}

#Reset1 {
	text-align: left;
	height: 35px;
	width: 72px;
}

.comic-title {
	font-family: 'Yew Basturd';
	font-size: small;
}

.comic-title-big {
	font-family: 'Yew Basturd';
	font-size: xx-large;
	text-align: center;
}

.comic-wrapper {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.float-right {
	float: right;
}

.issue-Image {
	overflow: hidden;
	position: relative;
}