@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <button onclick="insertComics()">Cargar</button>
</div>

<div class="row">
	<button onclick="getRecommendation()">Recomendame</button>
</div>


<div id="recomendaciones"></div>