@model IEnumerable<MyNextComic.Contracts.Entities.Issue>
<h3 class="comic-title-big">Comics</h3>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3 float-left form-group">
            @Html.DropDownList("Genres", new SelectList(ViewBag.genres, "Value", "Text"), new { Class = "form-control float-left" })
        </div>
        <div class="col-md-6 float-right form-group">
            <button class="btn btn-primary float-right h-35px" id="btnSearch">Search</button>
            <input type="text" id="SearchString" class="float-right h-35px w-250px" />
        </div>
    </div>
</div>
<div id="ComicList">
    @Html.Partial("ComicList", Model)
</div>


<div id="spinner" style="display:none;">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; color: #DF691A"></i>
</div> 