@model IEnumerable<MyNextComic.Contracts.Entities.Issue>
<h3 class="comic-title-big">Comics</h3>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6 float-right form-group">
			<button class="btn btn-primary float-right h-35px" id="btnSearch">Search</button>
			<input type="text" id="SearchString" class="float-right h-35px w-250px" />
		</div>
	</div>
</div>
<div id="ComicList">
	@Html.Partial("ComicList", Model)
</div>
